/* 
Contents:
  - Remove autofill background color
  - Remove basketball-reference ad contents (not frame)
*/

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

/* This does not work across all sites as inline styles
have higher priority than external CSS. If this bothers
you, install an adblocker or write javascript instead. */
#adbe_ad_frame,
.GoogleActiveViewElement,
.GoogleActiveViewInnerContainer #ad_iframe,
.img_ad,
.sticky-wrapper _fsBranding {
    display: none !important;
}

/* CSS selectors reference: https://www.w3schools.com/cssref/css_selectors.asp */
/* CSS minifier: https://cssminifier.com/ */
